<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>merch-ui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>958090DC1E45383E007F7740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>958090F01E45383E007F7740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>958090FB1E45383E007F7740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
